{% load static %}
<!DOCTYPE html>
<html>

<head>
<title>Chat</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/chat_room.css' %}">
</head>

<body>

<div class="chat-container">

    <!-- Header -->
    <div class="chat-header">
        {{ receiver.username }}
    </div>

    <!-- Messages -->
    <div class="chat-box"></div>

    <!-- Input -->
    <form id="chat-form" class="chat-input">
        {% csrf_token %}
        <input type="text" id="msg-input" placeholder="Type message..." required>
        <button type="submit">➤</button>
    </form>

</div>

<!-- JS -->
<script>

let lastMessageCount = 0;

function loadMessages() {
    fetch("/get-messages/{{ receiver.id }}/")
    .then(res => res.json())
    .then(data => {

        let chatBox = document.querySelector('.chat-box');

        //  Only update if new messages
        if (data.messages.length === lastMessageCount) {
            return;
        }

        chatBox.innerHTML = '';
        lastMessageCount = data.messages.length;

        let lastDate = "";

        data.messages.forEach(msg => {

            console.log(msg.sender, msg.is_me);

            // Date
            if (msg.date !== lastDate) {
                let dateDiv = document.createElement('div');
                dateDiv.style.textAlign = "center";
                dateDiv.style.margin = "10px";
                dateDiv.style.fontSize = "12px";
                dateDiv.style.color = "gray";
                dateDiv.innerText = msg.date;

                chatBox.appendChild(dateDiv);
                lastDate = msg.date;
            }

            let div = document.createElement('div');
                if (msg.is_me === true) {
                     div.style.justifyContent = "flex-end";
                    div.className = 'message right';
                    div.innerHTML = `
                        <div class="bubble me">
                            ${msg.message}
                            <div class="time">${msg.time}</div>
                        </div>
                    `;
                } else {
                    div.className = 'message left';
                    div.innerHTML = `
                        <div class="bubble other">
                            <b>${msg.sender}</b><br>
                            ${msg.message}
                            <div class="time">${msg.time}</div>
                        </div>
                    `;
                }

            chatBox.appendChild(div);
        });

        chatBox.scrollTop = chatBox.scrollHeight;
    });
}

// Auto refresh
setInterval(loadMessages, 4000);
loadMessages();


// Send message
document.getElementById("chat-form").addEventListener("submit", function(e){
    e.preventDefault();

    let msg = document.getElementById("msg-input").value;

    fetch("/chat/{{ receiver.id }}/", {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
            "Content-Type": "application/x-www-form-urlencoded"
        },
        body: "message=" + encodeURIComponent(msg)
    }).then(() => {
        document.getElementById("msg-input").value = "";
        loadMessages();
    });
});


</script>

</body>
</html>