{% load static %}
<!DOCTYPE html>
<html>

<head>

<title>Chat</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/chat_room.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

</head>

<body>

<div class="chat-container">

    <!-- HEADER -->
    <div class="chat-header">

        <h2>{{ receiver.username }}</h2>

    </div>

    <!-- CHAT BOX -->
    <div class="chat-box" id="chat-box">

        {% for msg in messages %}

            <!-- DATE -->
            {% ifchanged msg.timestamp.date %}

                <div class="date-divider">
                    {{ msg.timestamp|date:"d M Y" }}
                </div>

            {% endifchanged %}

            <!-- MY MESSAGE -->
            {% if msg.sender == request.user %}

                <div class="message right">

                    <div class="bubble me">

                        <div class="message-text">
                            {{ msg.message }}
                        </div>

                        <div class="time">
                            {{ msg.timestamp|date:"h:i A" }}
                        </div>

                    </div>

                </div>

            {% else %}

                <!-- OTHER MESSAGE -->

                <div class="message left">

                    <div class="bubble other">

                        <div class="message-text">
                            {{ msg.message }}
                        </div>

                        <div class="time">
                            {{ msg.timestamp|date:"h:i A" }}
                        </div>

                    </div>

                </div>

            {% endif %}

        {% endfor %}

    </div>

    <!-- INPUT -->
    <form method="POST" class="chat-input">

        {% csrf_token %}

        <input
            type="text"
            name="message"
            placeholder="Type message..."
            required
        >

        <button type="submit">
            ➤
        </button>

    </form>

</div>

<!-- AUTO SCROLL -->
<script>

const chatBox = document.getElementById("chat-box");

chatBox.scrollTop = chatBox.scrollHeight;

</script>

</body>
</html>